.dark-theme {
  .custom-header {
    box-shadow: 0 3px 17px #2B2B39;
    background: rgba(19, 18, 41, 0.4);
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav {
      li a {
        color: #fff;
      }
      a {
        &:hover, &:focus {
          color: #fff;
          background: rgba(19, 18, 41, 0.3);
        }
      }
      .open > a {
        background: rgba(19, 18, 41, 0.3);
        &:hover, &:focus {
          background: rgba(19, 18, 41, 0.3);
        }
      }
      .dropdown-menu {
        background: rgba(19, 18, 41, 0.6);
      }
    }
  }
  .custom-footer {
    text-align: center;
    .contacts li {
      line-height: 100px;
      height: 100px;
      font-size: 1.7em;
      margin: 0 10px;
    }
  }
}
