header {
  .navbar {
    margin-bottom: 0;
  }
  .custom-header {
    border-radius: 0;
    border: none;
    .navbar-brand {
      line-height: 80px;
      height: 80px;
      padding-top: 0;
    }
    .navbar-nav {
      li a {
        line-height: 80px;
        height: 80px;
        padding-top: 0;
        text-transform: uppercase;
      }
      display: inline-block;
      float: none;
      vertical-align: top;
      .dropdown-menu {
        border: none;
        padding: 0;
        li {
          a {
            text-transform: none;
            line-height: 35px;
            height: 35px;
          }
          &:last-child a {
            line-height: 50px;
            height: 50px;
          }
        }
        .number {
          font-weight: bold;
          padding-left: 8px;
        }
      }
    }
    .navbar-collapse {
      text-align: center;
    }
    .navbar-right {
      font-family: 'Roboto';
      text-align: center;
    }
    .dropdown a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        font-family: 'Roboto';
        font-weight: bold;
      }
    }
    .navbar-right li, .dropdown-menu {
      width: 240px;
    }
  }
}
