.photo
.container
  .about-system
    %h1 Alter - це добро
    %p
      &laquo;Ця система була створена виключно у благодійних цілях, з метою створення надійного зворотного зв'язку |
      з тими, хто потребує Вашої допомоги. Створюйте запити на потрібну допомогу, допомагайте іншим, світ збалансований, |
      все обов'язково повертається. Можливо, саме Ваш внесок кардинально вплине на чиєсь життя&raquo;
    %h2 CEO Ілля Мартинюк
    %h1 Цінності нашого проекту
    %p
      Можливість створення запитів про допомогу. Ваш запит про допомогу буде зв'язаний із Вашим профілем,
      здійснюється вибір категорій по яким потрібна допомога. Окрім цього, категорії допомоги виконують роль
      фільтру для зручнішого переліку запитів про допомогу. Запити про допомогу ретельно перевіряються модераторами
      відповідно до області проживання автора запиту. Також є постійний доступ до прогресу конкретного запиту та записів користувача
      на стіні. Одразу після досягнення усіх цілей запит буде автоматично закрито.
    %p
      Повна модерація сайту. Ви можете бути впевнені в достовірності наданої користувачем інформації та відсутності
      псевдо-благодійників. Основні етапи роботи з веб-ресурсом "Alter" переглядаються та фільтруються модераторами. Модераторська
      система передбачена для різних областей України, а тому окрім перевірки on-line, здійснюється перевірка тет-а-тет наживо.
      З "Alter" Ви можете бути упевнені - "Ваші внески потраплять туди, куди вони були надіслані".
    %p
      Тісна взаємодія з соціальними мережами. У режимі реального часу активно підтримуються спільності у таких соціальних
      мережах як ВКонтакте, Facebook, Twitter. В спільнотах містяться новини сайту, інформація про запити допомоги,
      актуальний оновлений контент сайту. У запитах про допомогу надається можливість поширення інформації про них.
      Профілі користувачів містять посилання на сторінки користувачів.
