.parentbox
  %span.phrases.first Дрібниця для одного.
  .circle
    %a#first-news-circle.news-circles{"data-description" => "Терміново потрібна допомога у облаштуванні 12 казарми учбового центру «Десна», куди повернулися на ротацію бійці.", "data-title" => "Вельмишановні! Хто найближчого часу іде", :href => "https://alter.herokuapp.com/requests/32", :style => "display: block;"}
    %a#second-news-circle.news-circles{"data-description" => "Нашим військовим дуже потрібна фарба маскувальних кольорів (хакі, оливкова, зелена) для фарбування.", "data-title" => "Загону №3 з Харківського батальону", :href => "https://alter.herokuapp.com/requests/29", :style => "display: block;"}
    %a#third-news-circle.news-circles{"data-description" => "Терміново потрібна допомога у облаштуванні 12 казарми учбового центру «Десна», куди повернулися на ротацію бійці.", "data-title" => "Потрібна допомога: У харківський", :href => "https://alter.herokuapp.com/requests/19", :style => "display: block;"}
    %a#fourth-news-circle.news-circles{"data-description" => "95 аеромобілна бригада \"рота розвідників\". Потребує допомогу. Їм потрібен спец. одяг.\r\n    Будь ласка допоможіть!", "data-title" => "Просимо допомогти зібрати кошти на", :href => "https://alter.herokuapp.com/requests/9", :style => "display: block;"}
    %a#fifth-news-circle.news-circles{"data-description" => "Вельмишановні! Хто найближчого часу іде в Маріуполь, і у нього є ще трошки вільного місця, будь ласочка прихопит.", "data-title" => "Друзья: волонтёры, военнослужащие, дембеля!", :href => "https://alter.herokuapp.com/requests/8", :style => "display: block;"}
    .news
      %p.title{:title => "Вельмишановні! Хто найближчого часу іде в Маріуполь?"} Вельмишановні! Хто найближчого часу іде...
      %p.description Терміново потрібна допомога у облаштуванні 12 казарми учбового центру «Десна», куди повернулися на ротацію бійці.
  %span.phrases.second Весь світ для іншого.
