.categories
  /TODO: remove dummy categories
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=1"}
    %span.label{:style => "background: #3498db"} Гроші
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=2"}
    %span.label{:style => "background: #2ecc71"} Провізія
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=3"}
    %span.label{:style => "background: #1abc9c"} Одяг
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=7"}
    %span.label{:style => "background: #e67e22"} Екіпірування
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=11"}
    %span.label{:style => "background: #E6567A"} Беспосередня участь
  %a{"data-remote" => "true", :href => "http://alter.herokuapp.com/requests/search?category_id=13"}
    %span.label{:style => "background: #FF6861"} Побут
  -#- request.required_items.each do |required_item|
  -#  = link_to search_requests_url(category_id: required_item.category.id), remote: true do
  -#    %span{ class: 'label', style: "background: ##{required_item.category.color}" }= required_item.category.name
