.request{ id: "request-#{id}" }
  .row
    .col-md-4
      .photo
        = link_to_if policy?(:show), image_tag(photo.url), model
    .col-md-8
      = cell(::Request::Cell::Info, model, list: true)
      = cell(::Request::Cell::Categories, model)
