.categories
  /TODO: Add decision categories
  %span.label{:style => "background: #3498db"} Гроші
  %span.label{:style => "background: #f1c40f"} Зброя
  %span.label{:style => "background: #e67e22"} Екіпірування
  %span.label{:style => "background: #1abc9c"} Одяг
  -#- decision.accepted_items.each do |accepted_item|
  -#  %span{ class: 'label', style: "background: ##{accepted_item.required_item.category.color}" }= accepted_item.required_item.category.name

