.decision{ id: "decision-#{id}", class: decision_class }
  .row
    .col-md-4
      .photo
        = link_to_if policy?(:show), image_tag(user_avatar.url), model
    .col-md-8
      = cell(::Decision::Cell::Info, model, list: true)
      .categories
        = cell(::Decision::Cell::Category, collection: accepted_items)
