.group-modal-form
  = form_for model, url: decision_partly_accepted_path(model), remote: true do |f|
    .modal-body
      = cell(::Decision::Cell::PartlyAccepted::AcceptedItems, f)
    .modal-footer
      .actions
        = f.submit t('views.actions.send'), class: ' btn btn-shadow btn-info confirm', data: data_disable_with
        %button.btn.btn-shadow.btn-default.cancel{ data: { dismiss: 'modal' } }= t('views.actions.cancel')
