%footer.dark-theme
  .custom-footer
    %ul.contacts
      %li
        = link_to root_path do
          %i.fa.fa-twitter
      %li
        = link_to root_path do
          %i.fa.fa-vk
      %li
        = link_to root_path do
          %i.fa.fa-facebook
